/* <!-- Coloque todo o CSS criado até agora nos exercícios anteriores em um arquivo externo. --> */

h1 {
  font-size: 65px;
  font-family: sans-serif;
  color: orange;
  text-align: center;
}
/* ul {
  background-color: lightblue;
} */
.styleRed {
  background-color: red;
}
p {
  font-weight: 600px;
}
body  {
  font-size: 16px;
}
p {
  font-size: 3em;
  font-style: italic;
  line-height: normal;
  text-decoration: solid;
}

#amarelo { background-color: yellow; }
#vermelho { background-color: red; }
#marrom { background-color: brown; }